body {
  background-color: peachpuff;
}
h1 {
  text-transform: uppercase;
  font-size: 2rem;
}

.poster {
  width: 100%;
  margin-left: 5rem;
  margin-top: 10px;
  color: palevioletred;
  font-family: 'Times New Roman', Times, serif;
  text-align:center;
}

.motivation-img {
  border: 5px solid rgb(215, 89, 89);
  width: 100%;
  display: block;
}

.poster h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    letter-spacing: 2px;
}

.poster p {
    font-family: cursive;
    letter-spacing: 3px;
    font-size: larger
}